body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: grey;
}

div, h1, p {
  color: white;
}

div.correct {
  color: green;
  font-weight: bold;
  font-size: unset;
}

div.incorrect {
  color: red;
  font-weight: bold;
  font-size: unset;
}

#result {
  visibility: hidden;
}

#resultScore {
  color: aqua;
}

#resultC {
  color: green;
}

#resultI {
  color: red;
}

#resultU {
  color: yellow;
}

#result {
  font-weight: bold;
}

.header {
  text-align: center;;
}

.tblong {
  width: 50%;
  padding: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.disabled {
  opacity: 0.6; /* Real browsers */
  filter: alpha(opacity = 60); /* MSIE */
}

.largetopgap {
  margin-top: 30px;
}

.padleft {
  margin-left: 30px;
}

.mdp-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  background-color:black;
  padding: 10px;
}

.mdp-free {
  background-color: rgba(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  max-width: 1px;
  max-height: 1px;
  min-width: 1px;
  min-height: 1px;
}

.mdp-obstacle {
  background-color: rgba(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  max-width: 1px;
  max-height: 1px;
  min-width: 1px;
  min-height: 1px;
}

.mdp-unexplored {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  max-width: 1px;
  max-height: 1px;
  min-width: 1px;
  min-height: 1px;
}

a {
  color: #00B7FF;
}
