body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font: 20px "Google Sans", sans-serif;
  background-color: #101010;
}

button {
  font-family: "Google Sans", sans-serif;
  font-weight: 500;
}

table {
  display: block;
  width: 100%;
}

td {
  align-content: center;
}

div, h1, h2, h3, h4, h5, h6, p {
  color: white;
}

div.correct {
  color: green;
  font-weight: bold;
  font-size: unset;
}

div.incorrect {
  color: red;
  font-weight: bold;
  font-size: unset;
}

.hide-elem {
  display: none;
}

#resultScore {
  color: aqua;
}

#resultC {
  color: green;
}

#resultI {
  color: red;
}

#resultU {
  color: yellow;
}

#result {
  font-weight: bold;
}

.header {
  text-align: center;;
}

.tblong {
  width: 50%;
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.disabled {
  opacity: 0.6; /* Real browsers */
  filter: alpha(opacity = 60); /* MSIE */
}

.largetopgap {
  margin-top: 30px;
}

.padleft {
  margin-left: 30px;
}

.mdp-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  background-color: gold;
  padding: 10px;
}

.mdp-free {
  background-color: rgba(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  max-width: 1px;
  max-height: 1px;
  min-width: 1px;
  min-height: 1px;
}

.mdp-obstacle {
  background-color: rgba(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  max-width: 1px;
  max-height: 1px;
  min-width: 1px;
  min-height: 1px;
}

.mdp-unexplored {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  max-width: 1px;
  max-height: 1px;
  min-width: 1px;
  min-height: 1px;
}

a {
  color: #00B7FF;
}

.mdf-input {
  width: 80%;
  margin: auto;
}

.mdf-input-div {
  text-align: center;
}

/* Materialize Changes */
input, label {
  color: #fff;
}

.input-field .helper-text {
  font-size: 14px !important;
  font-weight: 500;
}

.input-field .helper-text:after .invalid {
  color: aqua !important;
}

/* label color */
.input-field label {
  color: #fff !important;
}

 /* label focus color */
 .input-field input[type=text]:focus + label {
  color: #fff !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

/* FAB Tooltip */
.fixed-action-btn ul > li > span {
  position: absolute;
  right: 120%;
  white-space: nowrap;
  background: rgba(0,0,0,.6);
  padding: 3px 9px;
  color: white;
  margin-top: 12px;
}

/* change colour of filled in check box */
.checkbox-blue[type="checkbox"].filled-in:checked + span:not(.lever):after 
{
    border: 2px solid #0D47A1;  
    background-color: #0D47A1;
}